@{
    ViewBag.Title = "Schedule Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule Event</h2>

<div class="vh-100" id="calendly-container"></div>

@section Scripts {
    <script src="~/js/calendly-widget.js" ></script>

}


